---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize";
@import "font";
@import "yue";
@import "base";
@import "variables";

html {
  font-size: 14px;
}

pre code {
  word-wrap: normal !important;
}

.site-header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  a {
    text-decoration: none;
  }

  .site-title {
    color: #333;
    font-size: 1.5rem;
  }
  .site-nav {
    margin-top: 0.25rem;
    font-size: 1.25rem;
  }
  .site-nav a {
    color: #666;
  }
  .site-nav a:hover {
    color: #444;
    border-bottom: 2px solid #444;
  }
  .site-nav a + a {
    margin-left: 1em;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 42rem;
}

.body {
  padding: 1rem;

  .post-list .post {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0.75em;
    border-bottom: thin solid #f3f3f3;
    a {
      text-decoration: none;
    }
  }
  .post-list .post:last-child {
    border-bottom: none;
    margin-bottom: .375em;
    padding-bottom: 0;
  }

  .post-meta {
    margin: 0;
    padding: .25em 0;
    color: #7a7a7a;
    font-style: italic;
    .type {
      color: #333;
      font-style: normal;
      margin-left: 10px;
    }
  }

  .post-link {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: .5em;
  }
  .post-link a {
    color: #333;
  }

  .post-summary {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .post-header {
    text-align: center;
    margin-bottom: 1rem;
    h1 {
      margin: 0;
    }
  }
  .post-meta.small {
    font-size: 0.707rem;
  }

  li {
      word-wrap: break-word;
  }
}

.site-footer {
  background-color: #fafafa;
  border-top: thin solid #f3f3f3;
  color: #7a7a7a;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
  a {
    color: #7a7a7a;
    text-decoration-color: #7a7a7a;
  }
}

@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  .site-header {
    text-align: left;
    a {
      font-size: 1rem;
    }

    .site-title {
      font-size: 1.25rem;
      float: left;
    }

    .site-nav {
      float: right;
      margin-top: 0;
      margin-top: .25rem;
    }
  }

  .body {
    .post-header {
      text-align: left;
      h1 {
        font-size: 2.998rem;
        margin-top: 1em;
      }
    }
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }
}
