---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in site.posts %}
    <div class="post">
      <p class="post-meta">
        {{ post.date | date: "%b %-d, %Y" }}
        <span class="type">
          {% if post.external_url %}
            link
          {% else %}
            {{ post.layout }}
          {% endif %}
        </span>
      </p>

      <h2 class="post-link">
        {% if post.external_url %}
          <a onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" href="{{ post.external_url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      </h2>

      {% if post.description %}
        <p class="post-summary">{{ post.description }}</p>
      {% endif %}
      <div class="scorehub" data-type="like" data-count="true" data-loc="{{ post.url | prepend: site.baseurl | prepend: site.url }}"></div>
    </div>
    {% endfor %}
  </div>

</div>
