@import "variables";

body,
button {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

body {
  font-family: $font-family;
}
body .yue {
  font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}
body .yue {
  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
  }
}
