{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="site-wrap">
      {% include header.html %}

      <div class="body">
        <div class="wrapper">
          <div class="post yue">

            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <span class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
              </span><br />
              <span class="post-meta small">
                {{ minutes }} minute read
              </span>
            </header>

            <article class="post-content">
              {{ content }}
            </article>

            <a href="https://github.com/CatTail/cattail.github.io/issues/new?title={{ page.title }}" style="display:block; text-align:center;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" fill="#888" width="60" height="60">
                    <polygon fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" points="29,24 13,24 8,28 8,24 3,24 3,6 29,6 "/>
                    <line fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" x1="8" y1="13" x2="24" y2="13"/>
                    <line fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" x1="8" y1="17" x2="20" y2="17"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
