{% assign minutes = content | strip_html | number_of_words | divided_by: 18 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="site-wrap">
      {% include header.html %}

      <div class="body">
        <div class="wrapper">
          <div class="post yue">

            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <span class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
              </span><br />
              <span class="post-meta small">
                {{ minutes }} minute read
              </span>

              <br />
              <div class="scorehub" data-type="like" data-count="true"></div>
            </header>

            <article class="post-content">
              {{ content }}
            </article>

            <footer style="overflow: hidden;">
              <div class="scorehub" data-type="like" data-count="true" style="float: left;"></div>
              <a href="https://github.com/CatTail/cattail.github.io/issues/new?title={{ page.title }}" style="float: left; width: 40px; height: 30px; text-align: center; line-height: 50px;">
<svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29"><path d="M21.27 20.058c1.89-1.826 2.754-4.17 2.754-6.674C24.024 8.21 19.67 4 14.1 4 8.53 4 4 8.21 4 13.384c0 5.175 4.53 9.385 10.1 9.385 1.007 0 2-.14 2.95-.41.285.25.592.49.918.7 1.306.87 2.716 1.31 4.19 1.31.276-.01.494-.14.6-.36a.625.625 0 0 0-.052-.65c-.61-.84-1.042-1.71-1.282-2.58a5.417 5.417 0 0 1-.154-.75zm-3.85 1.324l-.083-.28-.388.12a9.72 9.72 0 0 1-2.85.424c-4.96 0-8.99-3.706-8.99-8.262 0-4.556 4.03-8.263 8.99-8.263 4.95 0 8.77 3.71 8.77 8.27 0 2.25-.75 4.35-2.5 5.92l-.24.21v.32c0 .07 0 .19.02.37.03.29.1.6.19.92.19.7.49 1.4.89 2.08-.93-.14-1.83-.49-2.67-1.06-.34-.22-.88-.48-1.16-.74z"></path></svg>
            </a>
            </footer>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>

</html>
