<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="A simple, in-browser, markdown-driven slideshow tool." />
    <title>Remark</title>
    <style type="text/css">
      @import url(//fonts.googleapis.com/css?family=Droid+Serif);
      @import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
    </style>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/slide.css" type="text/css" />
  </head>
  <body>
    <script src="{{ site.baseurl }}/js/remark.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var hljs = remark.highlighter.engine;
    </script>
    <script src="{{ site.baseurl }}/js/remark.language.js" type="text/javascript"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'remark',
          sourceUrl: '{{site.baseurl}}/slides/{{ page.slide }}.md'
        }) ;
    </script>
    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
    <script src="{{ site.baseurl }}/js/qrcode.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/quo.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/sync.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
